
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="col col-1 d-flex align-items-center">
      <a href="/homepage"><img src="../images/train.png "  class="logo"></a>
      <a class="navbar-brand" href="/homepage">TicketTac</a>
    </div>

    <div class="col-9">
       <!-- colone vide -->
    </div>

    <div class="col-2 d-flex">
      <a class="nav-item nav-link" href="/">Connection </a>
      <a class="nav-item nav-link" href="/historique">My last trip</a>
    </div>

   </nav>
