
<!-- navbar -->
<div class="container-fluid align-items-center" id="bande">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">    

    <div class="col-4 col-sm-3 col-md-2 d-flex align-items-center">
      <a href="/homepage"><img src="../images/train.png "  class="logo"></a>
      <a class="navbar-brand" href="/homepage">TicketTac</a>
    </div>

    <div class="col-2 col-sm-3 col-md-6 col-lg-7">
       <!-- colone vide -->
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-end align-items-center" id="navbarlinks">
      <a class="nav-item nav-link " href="/" > <p class="text-danger">Connection</p> </a>
      <a class="nav-item nav-link" id="mylasttrip" href="/historique"><p class="text-dark">My last trip</p></a>
    </div>

  </nav>

</div>


