body {
  height: 100vh;
background: rgb(125,185,232);
background: -moz-linear-gradient(top,  rgba(125,185,232,1) 38%, rgba(32,124,202,1) 100%);
background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 38%,rgba(32,124,202,1) 100%);
background: linear-gradient(to bottom,  rgba(125,185,232,1) 38%,rgba(32,124,202,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=0 );
}

h5 {
  margin-bottom: 0;
  margin-right: 10px;
}

h6 {
  margin-bottom: 0;
}

.infoprix {
  margin:0, 10px;
}

nav{
  height: 80px;
  margin-bottom: 10vh;
}

#bande{
  padding:0;
}

#navbarlinks{
  padding:0;
}

#logocentre{
  height: 20vw;
}

#mylasttrip{
  padding-right:0;
}

.form-group {
  padding-left: 2vh;
}
#logocheckout{
  margin-right: 15px;
  margin-left: 15px;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none
}

.modal-content{
  width: 40vw;
  height: 40vh;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

#popupimg {
  height: 15vh;
  width: 15vh;
  padding: 2vh;
}

.close {
  padding: 0px;
  position: absolute;
  top: 0;
  right: 10px;
  transform: rotate(45deg)
}