body {
  height: 100vh;
background: rgb(125,185,232);
background: -moz-linear-gradient(top,  rgba(125,185,232,1) 38%, rgba(32,124,202,1) 100%);
background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 38%,rgba(32,124,202,1) 100%);
background: linear-gradient(to bottom,  rgba(125,185,232,1) 38%,rgba(32,124,202,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GradientType=0 );
}

h5 {
  margin-bottom: 0;
  margin-right: 10px;
}

h6 {
  margin-bottom: 0;
}

.infoprix {
  margin:0, 10px;
}

nav{
  height: 80px;
  margin-bottom: 10vh;
}

#bande{
  padding:0;
}

#navbarlinks{
  padding:0;
}

#logocentre{
  height: 20vw;
}

#mylasttrip{
  padding-right:0;
}

.form-group {
  padding-left: 2vh;
}
#logocheckout{
  margin-right: 15px;
  margin-left: 15px;
}