body {
  height: 100vh;
background: rgb(125,185,232);
background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(32,124,202,1) 47%, rgba(30,87,153,1) 100%);
background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 47%,rgba(30,87,153,1) 100%);
background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 47%,rgba(30,87,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}
nav{
  margin-bottom: 15vh;

}
